* {
    margin: 0;
    padding: 0;
}

h1 {
    color: rgb(201, 45, 45);
    font-weight: bold;
    font-size: 50px;
    text-shadow: rgba(0,0,0,1);
}

body {
    background-image: url("TTT_image.jpg");
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0, 0, 0.5);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
}

.O {
    color: #b0413e;
    font-weight: bold;
}

.X {
    color: #14213d;
    font-weight: bold;
}
#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #023047;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #023047;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#msg {
    color: #ffffc7;
    font-size: 5vmin;
}

.msg-container {
    height: 80vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}